<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="f.s.frobot.dao.CallLogMapper">
  <resultMap id="BaseResultMap" type="f.s.frobot.model.CallLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="calling_num" jdbcType="INTEGER" property="callingNum" />
    <result column="phone_num" jdbcType="INTEGER" property="phoneNum" />
    <result column="instance_id" jdbcType="VARCHAR" property="instanceId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="work_status" jdbcType="TINYINT" property="workStatus" />
    <result column="ext_param" jdbcType="VARCHAR" property="extParam" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="requestId" jdbcType="VARCHAR" property="requestid" />
    <result column="base_user_id" jdbcType="INTEGER" property="baseUserId" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, calling_num, phone_num, instance_id, status, work_status, ext_param, result, 
    requestId, base_user_id, ctime
  </sql>
  <select id="selectByExample" parameterType="f.s.frobot.model.CallLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from call_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <select id="selectByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <if test="example.distinct">
      distinct
    </if>
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from call_log
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from call_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from call_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from call_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="f.s.frobot.model.CallLog">
    insert into call_log (id, calling_num, phone_num, 
      instance_id, status, work_status, 
      ext_param, result, requestId, 
      base_user_id, ctime)
    values (#{id,jdbcType=INTEGER}, #{callingNum,jdbcType=INTEGER}, #{phoneNum,jdbcType=INTEGER}, 
      #{instanceId,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{workStatus,jdbcType=TINYINT}, 
      #{extParam,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, #{requestid,jdbcType=VARCHAR}, 
      #{baseUserId,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="f.s.frobot.model.CallLog">
    insert into call_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            id,
          </if>
          <if test="_parameter.hasSelective('calling_num')">
            calling_num,
          </if>
          <if test="_parameter.hasSelective('phone_num')">
            phone_num,
          </if>
          <if test="_parameter.hasSelective('instance_id')">
            instance_id,
          </if>
          <if test="_parameter.hasSelective('status')">
            status,
          </if>
          <if test="_parameter.hasSelective('work_status')">
            work_status,
          </if>
          <if test="_parameter.hasSelective('ext_param')">
            ext_param,
          </if>
          <if test="_parameter.hasSelective('result')">
            result,
          </if>
          <if test="_parameter.hasSelective('requestId')">
            requestId,
          </if>
          <if test="_parameter.hasSelective('base_user_id')">
            base_user_id,
          </if>
          <if test="_parameter.hasSelective('ctime')">
            ctime,
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            id,
          </if>
          <if test="callingNum != null">
            calling_num,
          </if>
          <if test="phoneNum != null">
            phone_num,
          </if>
          <if test="instanceId != null">
            instance_id,
          </if>
          <if test="status != null">
            status,
          </if>
          <if test="workStatus != null">
            work_status,
          </if>
          <if test="extParam != null">
            ext_param,
          </if>
          <if test="result != null">
            result,
          </if>
          <if test="requestid != null">
            requestId,
          </if>
          <if test="baseUserId != null">
            base_user_id,
          </if>
          <if test="ctime != null">
            ctime,
          </if>
        </otherwise>
      </choose>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            #{id,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('calling_num')">
            #{callingNum,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('phone_num')">
            #{phoneNum,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('instance_id')">
            #{instanceId,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('status')">
            #{status,jdbcType=TINYINT},
          </if>
          <if test="_parameter.hasSelective('work_status')">
            #{workStatus,jdbcType=TINYINT},
          </if>
          <if test="_parameter.hasSelective('ext_param')">
            #{extParam,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('result')">
            #{result,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('requestId')">
            #{requestid,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('base_user_id')">
            #{baseUserId,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('ctime')">
            #{ctime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            #{id,jdbcType=INTEGER},
          </if>
          <if test="callingNum != null">
            #{callingNum,jdbcType=INTEGER},
          </if>
          <if test="phoneNum != null">
            #{phoneNum,jdbcType=INTEGER},
          </if>
          <if test="instanceId != null">
            #{instanceId,jdbcType=VARCHAR},
          </if>
          <if test="status != null">
            #{status,jdbcType=TINYINT},
          </if>
          <if test="workStatus != null">
            #{workStatus,jdbcType=TINYINT},
          </if>
          <if test="extParam != null">
            #{extParam,jdbcType=VARCHAR},
          </if>
          <if test="result != null">
            #{result,jdbcType=VARCHAR},
          </if>
          <if test="requestid != null">
            #{requestid,jdbcType=VARCHAR},
          </if>
          <if test="baseUserId != null">
            #{baseUserId,jdbcType=INTEGER},
          </if>
          <if test="ctime != null">
            #{ctime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </trim>
  </insert>
  <select id="countByExample" parameterType="f.s.frobot.model.CallLogExample" resultType="java.lang.Long">
    select count(*) from call_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update call_log
    <set>
      <choose>
        <when test="record.hasSelective()">
          <if test="record.hasSelective('id')">
            id = #{record.id,jdbcType=INTEGER},
          </if>
          <if test="record.hasSelective('calling_num')">
            calling_num = #{record.callingNum,jdbcType=INTEGER},
          </if>
          <if test="record.hasSelective('phone_num')">
            phone_num = #{record.phoneNum,jdbcType=INTEGER},
          </if>
          <if test="record.hasSelective('instance_id')">
            instance_id = #{record.instanceId,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('status')">
            status = #{record.status,jdbcType=TINYINT},
          </if>
          <if test="record.hasSelective('work_status')">
            work_status = #{record.workStatus,jdbcType=TINYINT},
          </if>
          <if test="record.hasSelective('ext_param')">
            ext_param = #{record.extParam,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('result')">
            result = #{record.result,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('requestId')">
            requestId = #{record.requestid,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('base_user_id')">
            base_user_id = #{record.baseUserId,jdbcType=INTEGER},
          </if>
          <if test="record.hasSelective('ctime')">
            ctime = #{record.ctime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="record.id != null">
            id = #{record.id,jdbcType=INTEGER},
          </if>
          <if test="record.callingNum != null">
            calling_num = #{record.callingNum,jdbcType=INTEGER},
          </if>
          <if test="record.phoneNum != null">
            phone_num = #{record.phoneNum,jdbcType=INTEGER},
          </if>
          <if test="record.instanceId != null">
            instance_id = #{record.instanceId,jdbcType=VARCHAR},
          </if>
          <if test="record.status != null">
            status = #{record.status,jdbcType=TINYINT},
          </if>
          <if test="record.workStatus != null">
            work_status = #{record.workStatus,jdbcType=TINYINT},
          </if>
          <if test="record.extParam != null">
            ext_param = #{record.extParam,jdbcType=VARCHAR},
          </if>
          <if test="record.result != null">
            result = #{record.result,jdbcType=VARCHAR},
          </if>
          <if test="record.requestid != null">
            requestId = #{record.requestid,jdbcType=VARCHAR},
          </if>
          <if test="record.baseUserId != null">
            base_user_id = #{record.baseUserId,jdbcType=INTEGER},
          </if>
          <if test="record.ctime != null">
            ctime = #{record.ctime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update call_log
    set id = #{record.id,jdbcType=INTEGER},
      calling_num = #{record.callingNum,jdbcType=INTEGER},
      phone_num = #{record.phoneNum,jdbcType=INTEGER},
      instance_id = #{record.instanceId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      work_status = #{record.workStatus,jdbcType=TINYINT},
      ext_param = #{record.extParam,jdbcType=VARCHAR},
      result = #{record.result,jdbcType=VARCHAR},
      requestId = #{record.requestid,jdbcType=VARCHAR},
      base_user_id = #{record.baseUserId,jdbcType=INTEGER},
      ctime = #{record.ctime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="f.s.frobot.model.CallLog">
    update call_log
    <set>
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('calling_num')">
            calling_num = #{callingNum,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('phone_num')">
            phone_num = #{phoneNum,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('instance_id')">
            instance_id = #{instanceId,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('status')">
            status = #{status,jdbcType=TINYINT},
          </if>
          <if test="_parameter.hasSelective('work_status')">
            work_status = #{workStatus,jdbcType=TINYINT},
          </if>
          <if test="_parameter.hasSelective('ext_param')">
            ext_param = #{extParam,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('result')">
            result = #{result,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('requestId')">
            requestId = #{requestid,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('base_user_id')">
            base_user_id = #{baseUserId,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('ctime')">
            ctime = #{ctime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="callingNum != null">
            calling_num = #{callingNum,jdbcType=INTEGER},
          </if>
          <if test="phoneNum != null">
            phone_num = #{phoneNum,jdbcType=INTEGER},
          </if>
          <if test="instanceId != null">
            instance_id = #{instanceId,jdbcType=VARCHAR},
          </if>
          <if test="status != null">
            status = #{status,jdbcType=TINYINT},
          </if>
          <if test="workStatus != null">
            work_status = #{workStatus,jdbcType=TINYINT},
          </if>
          <if test="extParam != null">
            ext_param = #{extParam,jdbcType=VARCHAR},
          </if>
          <if test="result != null">
            result = #{result,jdbcType=VARCHAR},
          </if>
          <if test="requestid != null">
            requestId = #{requestid,jdbcType=VARCHAR},
          </if>
          <if test="baseUserId != null">
            base_user_id = #{baseUserId,jdbcType=INTEGER},
          </if>
          <if test="ctime != null">
            ctime = #{ctime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="f.s.frobot.model.CallLog">
    update call_log
    set calling_num = #{callingNum,jdbcType=INTEGER},
      phone_num = #{phoneNum,jdbcType=INTEGER},
      instance_id = #{instanceId,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      work_status = #{workStatus,jdbcType=TINYINT},
      ext_param = #{extParam,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      requestId = #{requestid,jdbcType=VARCHAR},
      base_user_id = #{baseUserId,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectOneByExample" parameterType="f.s.frobot.model.CallLogExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <include refid="Base_Column_List" />
    from call_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from call_log
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
  <insert id="batchInsert" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into call_log
    (id, calling_num, phone_num, instance_id, status, work_status, ext_param, result, 
      requestId, base_user_id, ctime)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.callingNum,jdbcType=INTEGER}, #{item.phoneNum,jdbcType=INTEGER}, 
        #{item.instanceId,jdbcType=VARCHAR}, #{item.status,jdbcType=TINYINT}, #{item.workStatus,jdbcType=TINYINT}, 
        #{item.extParam,jdbcType=VARCHAR}, #{item.result,jdbcType=VARCHAR}, #{item.requestid,jdbcType=VARCHAR}, 
        #{item.baseUserId,jdbcType=INTEGER}, #{item.ctime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into call_log (
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id' == column.value">
          #{item.id,jdbcType=INTEGER}
        </if>
        <if test="'calling_num' == column.value">
          #{item.callingNum,jdbcType=INTEGER}
        </if>
        <if test="'phone_num' == column.value">
          #{item.phoneNum,jdbcType=INTEGER}
        </if>
        <if test="'instance_id' == column.value">
          #{item.instanceId,jdbcType=VARCHAR}
        </if>
        <if test="'status' == column.value">
          #{item.status,jdbcType=TINYINT}
        </if>
        <if test="'work_status' == column.value">
          #{item.workStatus,jdbcType=TINYINT}
        </if>
        <if test="'ext_param' == column.value">
          #{item.extParam,jdbcType=VARCHAR}
        </if>
        <if test="'result' == column.value">
          #{item.result,jdbcType=VARCHAR}
        </if>
        <if test="'requestId' == column.value">
          #{item.requestid,jdbcType=VARCHAR}
        </if>
        <if test="'base_user_id' == column.value">
          #{item.baseUserId,jdbcType=INTEGER}
        </if>
        <if test="'ctime' == column.value">
          #{item.ctime,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>