<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="f.s.frobot.dao.CallKyOrderMapper">
  <resultMap id="BaseResultMap" type="f.s.frobot.model.CallKyOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_no" jdbcType="VARCHAR" property="memberNo" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="rmno" jdbcType="VARCHAR" property="rmno" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="member_type" jdbcType="VARCHAR" property="memberType" />
    <result column="morning_call_time" jdbcType="TIMESTAMP" property="morningCallTime" />
    <result column="arr" jdbcType="TIMESTAMP" property="arr" />
    <result column="dep" jdbcType="TIMESTAMP" property="dep" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, member_no, mobile, name, rmno, order_id, member_type, morning_call_time, arr, 
    dep, ctime
  </sql>
  <select id="selectByExample" parameterType="f.s.frobot.model.CallKyOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from "call_ky_order"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <select id="selectByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <if test="example.distinct">
      distinct
    </if>
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from "call_ky_order"
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from "call_ky_order"
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from "call_ky_order"
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from "call_ky_order"
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="f.s.frobot.model.CallKyOrder">
    insert into "call_ky_order" (id, member_no, mobile, 
      name, rmno, order_id, 
      member_type, morning_call_time, arr, 
      dep, ctime)
    values (#{id,jdbcType=INTEGER}, #{memberNo,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{rmno,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, 
      #{memberType,jdbcType=VARCHAR}, #{morningCallTime,jdbcType=TIMESTAMP}, #{arr,jdbcType=TIMESTAMP}, 
      #{dep,jdbcType=TIMESTAMP}, #{ctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="f.s.frobot.model.CallKyOrder">
    insert into "call_ky_order"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            id,
          </if>
          <if test="_parameter.hasSelective('member_no')">
            member_no,
          </if>
          <if test="_parameter.hasSelective('mobile')">
            mobile,
          </if>
          <if test="_parameter.hasSelective('name')">
            name,
          </if>
          <if test="_parameter.hasSelective('rmno')">
            rmno,
          </if>
          <if test="_parameter.hasSelective('order_id')">
            order_id,
          </if>
          <if test="_parameter.hasSelective('member_type')">
            member_type,
          </if>
          <if test="_parameter.hasSelective('morning_call_time')">
            morning_call_time,
          </if>
          <if test="_parameter.hasSelective('arr')">
            arr,
          </if>
          <if test="_parameter.hasSelective('dep')">
            dep,
          </if>
          <if test="_parameter.hasSelective('ctime')">
            ctime,
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            id,
          </if>
          <if test="memberNo != null">
            member_no,
          </if>
          <if test="mobile != null">
            mobile,
          </if>
          <if test="name != null">
            name,
          </if>
          <if test="rmno != null">
            rmno,
          </if>
          <if test="orderId != null">
            order_id,
          </if>
          <if test="memberType != null">
            member_type,
          </if>
          <if test="morningCallTime != null">
            morning_call_time,
          </if>
          <if test="arr != null">
            arr,
          </if>
          <if test="dep != null">
            dep,
          </if>
          <if test="ctime != null">
            ctime,
          </if>
        </otherwise>
      </choose>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            #{id,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('member_no')">
            #{memberNo,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('mobile')">
            #{mobile,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('name')">
            #{name,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('rmno')">
            #{rmno,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('order_id')">
            #{orderId,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('member_type')">
            #{memberType,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('morning_call_time')">
            #{morningCallTime,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('arr')">
            #{arr,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('dep')">
            #{dep,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('ctime')">
            #{ctime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            #{id,jdbcType=INTEGER},
          </if>
          <if test="memberNo != null">
            #{memberNo,jdbcType=VARCHAR},
          </if>
          <if test="mobile != null">
            #{mobile,jdbcType=VARCHAR},
          </if>
          <if test="name != null">
            #{name,jdbcType=VARCHAR},
          </if>
          <if test="rmno != null">
            #{rmno,jdbcType=VARCHAR},
          </if>
          <if test="orderId != null">
            #{orderId,jdbcType=INTEGER},
          </if>
          <if test="memberType != null">
            #{memberType,jdbcType=VARCHAR},
          </if>
          <if test="morningCallTime != null">
            #{morningCallTime,jdbcType=TIMESTAMP},
          </if>
          <if test="arr != null">
            #{arr,jdbcType=TIMESTAMP},
          </if>
          <if test="dep != null">
            #{dep,jdbcType=TIMESTAMP},
          </if>
          <if test="ctime != null">
            #{ctime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </trim>
  </insert>
  <select id="countByExample" parameterType="f.s.frobot.model.CallKyOrderExample" resultType="java.lang.Long">
    select count(*) from "call_ky_order"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update "call_ky_order"
    <set>
      <choose>
        <when test="record.hasSelective()">
          <if test="record.hasSelective('id')">
            id = #{record.id,jdbcType=INTEGER},
          </if>
          <if test="record.hasSelective('member_no')">
            member_no = #{record.memberNo,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('mobile')">
            mobile = #{record.mobile,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('name')">
            name = #{record.name,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('rmno')">
            rmno = #{record.rmno,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('order_id')">
            order_id = #{record.orderId,jdbcType=INTEGER},
          </if>
          <if test="record.hasSelective('member_type')">
            member_type = #{record.memberType,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('morning_call_time')">
            morning_call_time = #{record.morningCallTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.hasSelective('arr')">
            arr = #{record.arr,jdbcType=TIMESTAMP},
          </if>
          <if test="record.hasSelective('dep')">
            dep = #{record.dep,jdbcType=TIMESTAMP},
          </if>
          <if test="record.hasSelective('ctime')">
            ctime = #{record.ctime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="record.id != null">
            id = #{record.id,jdbcType=INTEGER},
          </if>
          <if test="record.memberNo != null">
            member_no = #{record.memberNo,jdbcType=VARCHAR},
          </if>
          <if test="record.mobile != null">
            mobile = #{record.mobile,jdbcType=VARCHAR},
          </if>
          <if test="record.name != null">
            name = #{record.name,jdbcType=VARCHAR},
          </if>
          <if test="record.rmno != null">
            rmno = #{record.rmno,jdbcType=VARCHAR},
          </if>
          <if test="record.orderId != null">
            order_id = #{record.orderId,jdbcType=INTEGER},
          </if>
          <if test="record.memberType != null">
            member_type = #{record.memberType,jdbcType=VARCHAR},
          </if>
          <if test="record.morningCallTime != null">
            morning_call_time = #{record.morningCallTime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.arr != null">
            arr = #{record.arr,jdbcType=TIMESTAMP},
          </if>
          <if test="record.dep != null">
            dep = #{record.dep,jdbcType=TIMESTAMP},
          </if>
          <if test="record.ctime != null">
            ctime = #{record.ctime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update "call_ky_order"
    set id = #{record.id,jdbcType=INTEGER},
      member_no = #{record.memberNo,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      rmno = #{record.rmno,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=INTEGER},
      member_type = #{record.memberType,jdbcType=VARCHAR},
      morning_call_time = #{record.morningCallTime,jdbcType=TIMESTAMP},
      arr = #{record.arr,jdbcType=TIMESTAMP},
      dep = #{record.dep,jdbcType=TIMESTAMP},
      ctime = #{record.ctime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="f.s.frobot.model.CallKyOrder">
    update "call_ky_order"
    <set>
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('member_no')">
            member_no = #{memberNo,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('mobile')">
            mobile = #{mobile,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('name')">
            name = #{name,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('rmno')">
            rmno = #{rmno,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('order_id')">
            order_id = #{orderId,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('member_type')">
            member_type = #{memberType,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('morning_call_time')">
            morning_call_time = #{morningCallTime,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('arr')">
            arr = #{arr,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('dep')">
            dep = #{dep,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('ctime')">
            ctime = #{ctime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="memberNo != null">
            member_no = #{memberNo,jdbcType=VARCHAR},
          </if>
          <if test="mobile != null">
            mobile = #{mobile,jdbcType=VARCHAR},
          </if>
          <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
          </if>
          <if test="rmno != null">
            rmno = #{rmno,jdbcType=VARCHAR},
          </if>
          <if test="orderId != null">
            order_id = #{orderId,jdbcType=INTEGER},
          </if>
          <if test="memberType != null">
            member_type = #{memberType,jdbcType=VARCHAR},
          </if>
          <if test="morningCallTime != null">
            morning_call_time = #{morningCallTime,jdbcType=TIMESTAMP},
          </if>
          <if test="arr != null">
            arr = #{arr,jdbcType=TIMESTAMP},
          </if>
          <if test="dep != null">
            dep = #{dep,jdbcType=TIMESTAMP},
          </if>
          <if test="ctime != null">
            ctime = #{ctime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="f.s.frobot.model.CallKyOrder">
    update "call_ky_order"
    set member_no = #{memberNo,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      rmno = #{rmno,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      member_type = #{memberType,jdbcType=VARCHAR},
      morning_call_time = #{morningCallTime,jdbcType=TIMESTAMP},
      arr = #{arr,jdbcType=TIMESTAMP},
      dep = #{dep,jdbcType=TIMESTAMP},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectOneByExample" parameterType="f.s.frobot.model.CallKyOrderExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <include refid="Base_Column_List" />
    from "call_ky_order"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from "call_ky_order"
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
  <insert id="batchInsert" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into "call_ky_order"
    (id, member_no, mobile, name, rmno, order_id, member_type, morning_call_time, arr, 
      dep, ctime)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.memberNo,jdbcType=VARCHAR}, #{item.mobile,jdbcType=VARCHAR}, 
        #{item.name,jdbcType=VARCHAR}, #{item.rmno,jdbcType=VARCHAR}, #{item.orderId,jdbcType=INTEGER}, 
        #{item.memberType,jdbcType=VARCHAR}, #{item.morningCallTime,jdbcType=TIMESTAMP}, 
        #{item.arr,jdbcType=TIMESTAMP}, #{item.dep,jdbcType=TIMESTAMP}, #{item.ctime,jdbcType=TIMESTAMP}
        )
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into "call_ky_order" (
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id' == column.value">
          #{item.id,jdbcType=INTEGER}
        </if>
        <if test="'member_no' == column.value">
          #{item.memberNo,jdbcType=VARCHAR}
        </if>
        <if test="'mobile' == column.value">
          #{item.mobile,jdbcType=VARCHAR}
        </if>
        <if test="'name' == column.value">
          #{item.name,jdbcType=VARCHAR}
        </if>
        <if test="'rmno' == column.value">
          #{item.rmno,jdbcType=VARCHAR}
        </if>
        <if test="'order_id' == column.value">
          #{item.orderId,jdbcType=INTEGER}
        </if>
        <if test="'member_type' == column.value">
          #{item.memberType,jdbcType=VARCHAR}
        </if>
        <if test="'morning_call_time' == column.value">
          #{item.morningCallTime,jdbcType=TIMESTAMP}
        </if>
        <if test="'arr' == column.value">
          #{item.arr,jdbcType=TIMESTAMP}
        </if>
        <if test="'dep' == column.value">
          #{item.dep,jdbcType=TIMESTAMP}
        </if>
        <if test="'ctime' == column.value">
          #{item.ctime,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>