<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="f.s.frobot.dao.RobotCategoryRelationMapper">
  <resultMap id="BaseResultMap" type="f.s.frobot.model.RobotCategoryRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="robot_id" jdbcType="BIGINT" property="robotId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, robot_id, category_id, ctime
  </sql>
  <select id="selectByExample" parameterType="f.s.frobot.model.RobotCategoryRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from robot_category_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <select id="selectByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <if test="example.distinct">
      distinct
    </if>
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from robot_category_relation
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from robot_category_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from robot_category_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from robot_category_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="f.s.frobot.model.RobotCategoryRelation">
    insert into robot_category_relation (id, robot_id, category_id, 
      ctime)
    values (#{id,jdbcType=INTEGER}, #{robotId,jdbcType=BIGINT}, #{categoryId,jdbcType=INTEGER}, 
      #{ctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="f.s.frobot.model.RobotCategoryRelation">
    insert into robot_category_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            id,
          </if>
          <if test="_parameter.hasSelective('robot_id')">
            robot_id,
          </if>
          <if test="_parameter.hasSelective('category_id')">
            category_id,
          </if>
          <if test="_parameter.hasSelective('ctime')">
            ctime,
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            id,
          </if>
          <if test="robotId != null">
            robot_id,
          </if>
          <if test="categoryId != null">
            category_id,
          </if>
          <if test="ctime != null">
            ctime,
          </if>
        </otherwise>
      </choose>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            #{id,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('robot_id')">
            #{robotId,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('category_id')">
            #{categoryId,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('ctime')">
            #{ctime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            #{id,jdbcType=INTEGER},
          </if>
          <if test="robotId != null">
            #{robotId,jdbcType=BIGINT},
          </if>
          <if test="categoryId != null">
            #{categoryId,jdbcType=INTEGER},
          </if>
          <if test="ctime != null">
            #{ctime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </trim>
  </insert>
  <select id="countByExample" parameterType="f.s.frobot.model.RobotCategoryRelationExample" resultType="java.lang.Long">
    select count(*) from robot_category_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update robot_category_relation
    <set>
      <choose>
        <when test="record.hasSelective()">
          <if test="record.hasSelective('id')">
            id = #{record.id,jdbcType=INTEGER},
          </if>
          <if test="record.hasSelective('robot_id')">
            robot_id = #{record.robotId,jdbcType=BIGINT},
          </if>
          <if test="record.hasSelective('category_id')">
            category_id = #{record.categoryId,jdbcType=INTEGER},
          </if>
          <if test="record.hasSelective('ctime')">
            ctime = #{record.ctime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="record.id != null">
            id = #{record.id,jdbcType=INTEGER},
          </if>
          <if test="record.robotId != null">
            robot_id = #{record.robotId,jdbcType=BIGINT},
          </if>
          <if test="record.categoryId != null">
            category_id = #{record.categoryId,jdbcType=INTEGER},
          </if>
          <if test="record.ctime != null">
            ctime = #{record.ctime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update robot_category_relation
    set id = #{record.id,jdbcType=INTEGER},
      robot_id = #{record.robotId,jdbcType=BIGINT},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      ctime = #{record.ctime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="f.s.frobot.model.RobotCategoryRelation">
    update robot_category_relation
    <set>
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('robot_id')">
            robot_id = #{robotId,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('category_id')">
            category_id = #{categoryId,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('ctime')">
            ctime = #{ctime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="robotId != null">
            robot_id = #{robotId,jdbcType=BIGINT},
          </if>
          <if test="categoryId != null">
            category_id = #{categoryId,jdbcType=INTEGER},
          </if>
          <if test="ctime != null">
            ctime = #{ctime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="f.s.frobot.model.RobotCategoryRelation">
    update robot_category_relation
    set robot_id = #{robotId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectOneByExample" parameterType="f.s.frobot.model.RobotCategoryRelationExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <include refid="Base_Column_List" />
    from robot_category_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from robot_category_relation
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
  <insert id="batchInsert" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into robot_category_relation
    (id, robot_id, category_id, ctime)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.robotId,jdbcType=BIGINT}, #{item.categoryId,jdbcType=INTEGER}, 
        #{item.ctime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into robot_category_relation (
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id' == column.value">
          #{item.id,jdbcType=INTEGER}
        </if>
        <if test="'robot_id' == column.value">
          #{item.robotId,jdbcType=BIGINT}
        </if>
        <if test="'category_id' == column.value">
          #{item.categoryId,jdbcType=INTEGER}
        </if>
        <if test="'ctime' == column.value">
          #{item.ctime,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>