<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="f.s.frobot.dao.RobotInfoMapper">
  <resultMap id="BaseResultMap" type="f.s.frobot.model.RobotInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="robot_img" jdbcType="VARCHAR" property="robotImg" />
    <result column="ai_img" jdbcType="VARCHAR" property="aiImg" />
    <result column="welcome" jdbcType="VARCHAR" property="welcome" />
    <result column="h5_url" jdbcType="VARCHAR" property="h5Url" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="instance_id" jdbcType="VARCHAR" property="instanceId" />
    <result column="language_code" jdbcType="VARCHAR" property="languageCode" />
    <result column="time_zone" jdbcType="VARCHAR" property="timeZone" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="indate" jdbcType="TIMESTAMP" property="indate" />
    <result column="base_user_id" jdbcType="INTEGER" property="baseUserId" />
    <result column="base_user_name" jdbcType="VARCHAR" property="baseUserName" />
    <result column="btime" jdbcType="TIMESTAMP" property="btime" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, type, name, robot_img, ai_img, welcome, h5_url, status, instance_id, language_code, 
    time_zone, avatar, indate, base_user_id, base_user_name, btime, ctime, utime
  </sql>
  <select id="selectByExample" parameterType="f.s.frobot.model.RobotInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from robot_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <select id="selectByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <if test="example.distinct">
      distinct
    </if>
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from robot_info
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from robot_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from robot_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from robot_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="f.s.frobot.model.RobotInfo">
    insert into robot_info (id, type, name, 
      robot_img, ai_img, welcome, 
      h5_url, status, instance_id, 
      language_code, time_zone, avatar, 
      indate, base_user_id, base_user_name, 
      btime, ctime, utime
      )
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, 
      #{robotImg,jdbcType=VARCHAR}, #{aiImg,jdbcType=VARCHAR}, #{welcome,jdbcType=VARCHAR}, 
      #{h5Url,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{instanceId,jdbcType=VARCHAR}, 
      #{languageCode,jdbcType=VARCHAR}, #{timeZone,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{indate,jdbcType=TIMESTAMP}, #{baseUserId,jdbcType=INTEGER}, #{baseUserName,jdbcType=VARCHAR}, 
      #{btime,jdbcType=TIMESTAMP}, #{ctime,jdbcType=TIMESTAMP}, #{utime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="f.s.frobot.model.RobotInfo">
    insert into robot_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            id,
          </if>
          <if test="_parameter.hasSelective('type')">
            type,
          </if>
          <if test="_parameter.hasSelective('name')">
            name,
          </if>
          <if test="_parameter.hasSelective('robot_img')">
            robot_img,
          </if>
          <if test="_parameter.hasSelective('ai_img')">
            ai_img,
          </if>
          <if test="_parameter.hasSelective('welcome')">
            welcome,
          </if>
          <if test="_parameter.hasSelective('h5_url')">
            h5_url,
          </if>
          <if test="_parameter.hasSelective('status')">
            status,
          </if>
          <if test="_parameter.hasSelective('instance_id')">
            instance_id,
          </if>
          <if test="_parameter.hasSelective('language_code')">
            language_code,
          </if>
          <if test="_parameter.hasSelective('time_zone')">
            time_zone,
          </if>
          <if test="_parameter.hasSelective('avatar')">
            avatar,
          </if>
          <if test="_parameter.hasSelective('indate')">
            indate,
          </if>
          <if test="_parameter.hasSelective('base_user_id')">
            base_user_id,
          </if>
          <if test="_parameter.hasSelective('base_user_name')">
            base_user_name,
          </if>
          <if test="_parameter.hasSelective('btime')">
            btime,
          </if>
          <if test="_parameter.hasSelective('ctime')">
            ctime,
          </if>
          <if test="_parameter.hasSelective('utime')">
            utime,
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            id,
          </if>
          <if test="type != null">
            type,
          </if>
          <if test="name != null">
            name,
          </if>
          <if test="robotImg != null">
            robot_img,
          </if>
          <if test="aiImg != null">
            ai_img,
          </if>
          <if test="welcome != null">
            welcome,
          </if>
          <if test="h5Url != null">
            h5_url,
          </if>
          <if test="status != null">
            status,
          </if>
          <if test="instanceId != null">
            instance_id,
          </if>
          <if test="languageCode != null">
            language_code,
          </if>
          <if test="timeZone != null">
            time_zone,
          </if>
          <if test="avatar != null">
            avatar,
          </if>
          <if test="indate != null">
            indate,
          </if>
          <if test="baseUserId != null">
            base_user_id,
          </if>
          <if test="baseUserName != null">
            base_user_name,
          </if>
          <if test="btime != null">
            btime,
          </if>
          <if test="ctime != null">
            ctime,
          </if>
          <if test="utime != null">
            utime,
          </if>
        </otherwise>
      </choose>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('id')">
            #{id,jdbcType=BIGINT},
          </if>
          <if test="_parameter.hasSelective('type')">
            #{type,jdbcType=TINYINT},
          </if>
          <if test="_parameter.hasSelective('name')">
            #{name,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('robot_img')">
            #{robotImg,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('ai_img')">
            #{aiImg,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('welcome')">
            #{welcome,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('h5_url')">
            #{h5Url,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('status')">
            #{status,jdbcType=TINYINT},
          </if>
          <if test="_parameter.hasSelective('instance_id')">
            #{instanceId,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('language_code')">
            #{languageCode,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('time_zone')">
            #{timeZone,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('avatar')">
            #{avatar,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('indate')">
            #{indate,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('base_user_id')">
            #{baseUserId,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('base_user_name')">
            #{baseUserName,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('btime')">
            #{btime,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('ctime')">
            #{ctime,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('utime')">
            #{utime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="id != null">
            #{id,jdbcType=BIGINT},
          </if>
          <if test="type != null">
            #{type,jdbcType=TINYINT},
          </if>
          <if test="name != null">
            #{name,jdbcType=VARCHAR},
          </if>
          <if test="robotImg != null">
            #{robotImg,jdbcType=VARCHAR},
          </if>
          <if test="aiImg != null">
            #{aiImg,jdbcType=VARCHAR},
          </if>
          <if test="welcome != null">
            #{welcome,jdbcType=VARCHAR},
          </if>
          <if test="h5Url != null">
            #{h5Url,jdbcType=VARCHAR},
          </if>
          <if test="status != null">
            #{status,jdbcType=TINYINT},
          </if>
          <if test="instanceId != null">
            #{instanceId,jdbcType=VARCHAR},
          </if>
          <if test="languageCode != null">
            #{languageCode,jdbcType=VARCHAR},
          </if>
          <if test="timeZone != null">
            #{timeZone,jdbcType=VARCHAR},
          </if>
          <if test="avatar != null">
            #{avatar,jdbcType=VARCHAR},
          </if>
          <if test="indate != null">
            #{indate,jdbcType=TIMESTAMP},
          </if>
          <if test="baseUserId != null">
            #{baseUserId,jdbcType=INTEGER},
          </if>
          <if test="baseUserName != null">
            #{baseUserName,jdbcType=VARCHAR},
          </if>
          <if test="btime != null">
            #{btime,jdbcType=TIMESTAMP},
          </if>
          <if test="ctime != null">
            #{ctime,jdbcType=TIMESTAMP},
          </if>
          <if test="utime != null">
            #{utime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </trim>
  </insert>
  <select id="countByExample" parameterType="f.s.frobot.model.RobotInfoExample" resultType="java.lang.Long">
    select count(*) from robot_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update robot_info
    <set>
      <choose>
        <when test="record.hasSelective()">
          <if test="record.hasSelective('id')">
            id = #{record.id,jdbcType=BIGINT},
          </if>
          <if test="record.hasSelective('type')">
            type = #{record.type,jdbcType=TINYINT},
          </if>
          <if test="record.hasSelective('name')">
            name = #{record.name,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('robot_img')">
            robot_img = #{record.robotImg,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('ai_img')">
            ai_img = #{record.aiImg,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('welcome')">
            welcome = #{record.welcome,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('h5_url')">
            h5_url = #{record.h5Url,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('status')">
            status = #{record.status,jdbcType=TINYINT},
          </if>
          <if test="record.hasSelective('instance_id')">
            instance_id = #{record.instanceId,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('language_code')">
            language_code = #{record.languageCode,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('time_zone')">
            time_zone = #{record.timeZone,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('avatar')">
            avatar = #{record.avatar,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('indate')">
            indate = #{record.indate,jdbcType=TIMESTAMP},
          </if>
          <if test="record.hasSelective('base_user_id')">
            base_user_id = #{record.baseUserId,jdbcType=INTEGER},
          </if>
          <if test="record.hasSelective('base_user_name')">
            base_user_name = #{record.baseUserName,jdbcType=VARCHAR},
          </if>
          <if test="record.hasSelective('btime')">
            btime = #{record.btime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.hasSelective('ctime')">
            ctime = #{record.ctime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.hasSelective('utime')">
            utime = #{record.utime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="record.id != null">
            id = #{record.id,jdbcType=BIGINT},
          </if>
          <if test="record.type != null">
            type = #{record.type,jdbcType=TINYINT},
          </if>
          <if test="record.name != null">
            name = #{record.name,jdbcType=VARCHAR},
          </if>
          <if test="record.robotImg != null">
            robot_img = #{record.robotImg,jdbcType=VARCHAR},
          </if>
          <if test="record.aiImg != null">
            ai_img = #{record.aiImg,jdbcType=VARCHAR},
          </if>
          <if test="record.welcome != null">
            welcome = #{record.welcome,jdbcType=VARCHAR},
          </if>
          <if test="record.h5Url != null">
            h5_url = #{record.h5Url,jdbcType=VARCHAR},
          </if>
          <if test="record.status != null">
            status = #{record.status,jdbcType=TINYINT},
          </if>
          <if test="record.instanceId != null">
            instance_id = #{record.instanceId,jdbcType=VARCHAR},
          </if>
          <if test="record.languageCode != null">
            language_code = #{record.languageCode,jdbcType=VARCHAR},
          </if>
          <if test="record.timeZone != null">
            time_zone = #{record.timeZone,jdbcType=VARCHAR},
          </if>
          <if test="record.avatar != null">
            avatar = #{record.avatar,jdbcType=VARCHAR},
          </if>
          <if test="record.indate != null">
            indate = #{record.indate,jdbcType=TIMESTAMP},
          </if>
          <if test="record.baseUserId != null">
            base_user_id = #{record.baseUserId,jdbcType=INTEGER},
          </if>
          <if test="record.baseUserName != null">
            base_user_name = #{record.baseUserName,jdbcType=VARCHAR},
          </if>
          <if test="record.btime != null">
            btime = #{record.btime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.ctime != null">
            ctime = #{record.ctime,jdbcType=TIMESTAMP},
          </if>
          <if test="record.utime != null">
            utime = #{record.utime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update robot_info
    set id = #{record.id,jdbcType=BIGINT},
      type = #{record.type,jdbcType=TINYINT},
      name = #{record.name,jdbcType=VARCHAR},
      robot_img = #{record.robotImg,jdbcType=VARCHAR},
      ai_img = #{record.aiImg,jdbcType=VARCHAR},
      welcome = #{record.welcome,jdbcType=VARCHAR},
      h5_url = #{record.h5Url,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      instance_id = #{record.instanceId,jdbcType=VARCHAR},
      language_code = #{record.languageCode,jdbcType=VARCHAR},
      time_zone = #{record.timeZone,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      indate = #{record.indate,jdbcType=TIMESTAMP},
      base_user_id = #{record.baseUserId,jdbcType=INTEGER},
      base_user_name = #{record.baseUserName,jdbcType=VARCHAR},
      btime = #{record.btime,jdbcType=TIMESTAMP},
      ctime = #{record.ctime,jdbcType=TIMESTAMP},
      utime = #{record.utime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="f.s.frobot.model.RobotInfo">
    update robot_info
    <set>
      <choose>
        <when test="_parameter.hasSelective()">
          <if test="_parameter.hasSelective('type')">
            type = #{type,jdbcType=TINYINT},
          </if>
          <if test="_parameter.hasSelective('name')">
            name = #{name,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('robot_img')">
            robot_img = #{robotImg,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('ai_img')">
            ai_img = #{aiImg,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('welcome')">
            welcome = #{welcome,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('h5_url')">
            h5_url = #{h5Url,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('status')">
            status = #{status,jdbcType=TINYINT},
          </if>
          <if test="_parameter.hasSelective('instance_id')">
            instance_id = #{instanceId,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('language_code')">
            language_code = #{languageCode,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('time_zone')">
            time_zone = #{timeZone,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('avatar')">
            avatar = #{avatar,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('indate')">
            indate = #{indate,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('base_user_id')">
            base_user_id = #{baseUserId,jdbcType=INTEGER},
          </if>
          <if test="_parameter.hasSelective('base_user_name')">
            base_user_name = #{baseUserName,jdbcType=VARCHAR},
          </if>
          <if test="_parameter.hasSelective('btime')">
            btime = #{btime,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('ctime')">
            ctime = #{ctime,jdbcType=TIMESTAMP},
          </if>
          <if test="_parameter.hasSelective('utime')">
            utime = #{utime,jdbcType=TIMESTAMP},
          </if>
        </when>
        <otherwise>
          <if test="type != null">
            type = #{type,jdbcType=TINYINT},
          </if>
          <if test="name != null">
            name = #{name,jdbcType=VARCHAR},
          </if>
          <if test="robotImg != null">
            robot_img = #{robotImg,jdbcType=VARCHAR},
          </if>
          <if test="aiImg != null">
            ai_img = #{aiImg,jdbcType=VARCHAR},
          </if>
          <if test="welcome != null">
            welcome = #{welcome,jdbcType=VARCHAR},
          </if>
          <if test="h5Url != null">
            h5_url = #{h5Url,jdbcType=VARCHAR},
          </if>
          <if test="status != null">
            status = #{status,jdbcType=TINYINT},
          </if>
          <if test="instanceId != null">
            instance_id = #{instanceId,jdbcType=VARCHAR},
          </if>
          <if test="languageCode != null">
            language_code = #{languageCode,jdbcType=VARCHAR},
          </if>
          <if test="timeZone != null">
            time_zone = #{timeZone,jdbcType=VARCHAR},
          </if>
          <if test="avatar != null">
            avatar = #{avatar,jdbcType=VARCHAR},
          </if>
          <if test="indate != null">
            indate = #{indate,jdbcType=TIMESTAMP},
          </if>
          <if test="baseUserId != null">
            base_user_id = #{baseUserId,jdbcType=INTEGER},
          </if>
          <if test="baseUserName != null">
            base_user_name = #{baseUserName,jdbcType=VARCHAR},
          </if>
          <if test="btime != null">
            btime = #{btime,jdbcType=TIMESTAMP},
          </if>
          <if test="ctime != null">
            ctime = #{ctime,jdbcType=TIMESTAMP},
          </if>
          <if test="utime != null">
            utime = #{utime,jdbcType=TIMESTAMP},
          </if>
        </otherwise>
      </choose>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="f.s.frobot.model.RobotInfo">
    update robot_info
    set type = #{type,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR},
      robot_img = #{robotImg,jdbcType=VARCHAR},
      ai_img = #{aiImg,jdbcType=VARCHAR},
      welcome = #{welcome,jdbcType=VARCHAR},
      h5_url = #{h5Url,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      instance_id = #{instanceId,jdbcType=VARCHAR},
      language_code = #{languageCode,jdbcType=VARCHAR},
      time_zone = #{timeZone,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      indate = #{indate,jdbcType=TIMESTAMP},
      base_user_id = #{baseUserId,jdbcType=INTEGER},
      base_user_name = #{baseUserName,jdbcType=VARCHAR},
      btime = #{btime,jdbcType=TIMESTAMP},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      utime = #{utime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="f.s.frobot.model.RobotInfoExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <include refid="Base_Column_List" />
    from robot_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    select
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    from robot_info
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
  <insert id="batchInsert" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into robot_info
    (id, type, name, robot_img, ai_img, welcome, h5_url, status, instance_id, language_code, 
      time_zone, avatar, indate, base_user_id, base_user_name, btime, ctime, utime)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.type,jdbcType=TINYINT}, #{item.name,jdbcType=VARCHAR}, 
        #{item.robotImg,jdbcType=VARCHAR}, #{item.aiImg,jdbcType=VARCHAR}, #{item.welcome,jdbcType=VARCHAR}, 
        #{item.h5Url,jdbcType=VARCHAR}, #{item.status,jdbcType=TINYINT}, #{item.instanceId,jdbcType=VARCHAR}, 
        #{item.languageCode,jdbcType=VARCHAR}, #{item.timeZone,jdbcType=VARCHAR}, #{item.avatar,jdbcType=VARCHAR}, 
        #{item.indate,jdbcType=TIMESTAMP}, #{item.baseUserId,jdbcType=INTEGER}, #{item.baseUserName,jdbcType=VARCHAR}, 
        #{item.btime,jdbcType=TIMESTAMP}, #{item.ctime,jdbcType=TIMESTAMP}, #{item.utime,jdbcType=TIMESTAMP}
        )
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into robot_info (
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id' == column.value">
          #{item.id,jdbcType=BIGINT}
        </if>
        <if test="'type' == column.value">
          #{item.type,jdbcType=TINYINT}
        </if>
        <if test="'name' == column.value">
          #{item.name,jdbcType=VARCHAR}
        </if>
        <if test="'robot_img' == column.value">
          #{item.robotImg,jdbcType=VARCHAR}
        </if>
        <if test="'ai_img' == column.value">
          #{item.aiImg,jdbcType=VARCHAR}
        </if>
        <if test="'welcome' == column.value">
          #{item.welcome,jdbcType=VARCHAR}
        </if>
        <if test="'h5_url' == column.value">
          #{item.h5Url,jdbcType=VARCHAR}
        </if>
        <if test="'status' == column.value">
          #{item.status,jdbcType=TINYINT}
        </if>
        <if test="'instance_id' == column.value">
          #{item.instanceId,jdbcType=VARCHAR}
        </if>
        <if test="'language_code' == column.value">
          #{item.languageCode,jdbcType=VARCHAR}
        </if>
        <if test="'time_zone' == column.value">
          #{item.timeZone,jdbcType=VARCHAR}
        </if>
        <if test="'avatar' == column.value">
          #{item.avatar,jdbcType=VARCHAR}
        </if>
        <if test="'indate' == column.value">
          #{item.indate,jdbcType=TIMESTAMP}
        </if>
        <if test="'base_user_id' == column.value">
          #{item.baseUserId,jdbcType=INTEGER}
        </if>
        <if test="'base_user_name' == column.value">
          #{item.baseUserName,jdbcType=VARCHAR}
        </if>
        <if test="'btime' == column.value">
          #{item.btime,jdbcType=TIMESTAMP}
        </if>
        <if test="'ctime' == column.value">
          #{item.ctime,jdbcType=TIMESTAMP}
        </if>
        <if test="'utime' == column.value">
          #{item.utime,jdbcType=TIMESTAMP}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>